@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--main-font-stack: "Lato", "Helvetica", "sans-serif";
	--init-gradient-color: rgb(18, 18, 18);
	--mid-gradient-color: rgb(110, 106, 106);
	--end-gradient-color: #c2bcb9;
	--hover-active-bgcolor: rgb(85, 82, 82);
	--main-app-color: #1db954;
}
body {
	font-size: 18px;
	background: rgb(18, 18, 18);
	background: linear-gradient(
		0deg,
		var(--init-gradient-color) 0%,
		rgb(49, 49, 49) 25%,
		var(--mid-gradient-color) 60%,
		var(--end-gradient-color) 100%
	);
	height: 100vh;
	font-family: var(--main-font-stack);
	color: white;
}
.song__progress-bar {
    position: absolute;
    top: 0;
    left: 0;
}
.inner-progress-bar {
	height: 4px;
	width: 90vw;
	background-color: var(--mid-gradient-color);
	border-radius: 3px;
}

/*---- HEAD OF THE ALBUM CONTAINER ---- */
.album__container {
	display: flex;
	flex-direction: column;
    height: 100%; 
    justify-content: center;
    align-items: center;
}
.album__info__container {
	text-align: center;
	margin-bottom: 25px; 
}
.album__cover-container {
	margin-bottom: 10px;
}
.album__cover {
	width: 160px;
}
.album__title {
	font-size: 2.3rem;
}
.album__artist {
	font-size: 1.1rem;
	font-weight: 400;
	margin-bottom: 12px;
}
.album__duration {
	font-size: 1.1rem;
	font-weight: 300;
}
.main-play-button {
	background-color: var(--main-app-color);
	color: white;
	border: none;
	padding: 12px 35px;
	border-radius: 20px;
	font-weight: 700;
	cursor: pointer;
	transition: transform 0.3s ease;
}
.main-play-button:hover,
.main-play-button:active {
	transform: scale(1.04);
}

/*---- PLAYLIST CONTAINER ----*/
.album__playlist__container {
	/* height: 45vh; */
	display: flex;
	justify-content: center;
	padding-top: 0px;
}
.playlist__body {
	max-height: 300px;
	overflow: auto;
	height: 300px;
	width: 260px;
}
.playlist {
	list-style-type: none;
}
.playlist__song {
	/* margin-bottom: 10px; */
}
.playlist__song--active .song__info {
	background-color: var(--hover-active-bgcolor);
	color: var(--main-app-color);
}

.playlist__song--active .song__duration {
	color: inherit;
}
.song__info {
	display: flex;
	align-items: baseline;
	padding: 4px 20px;
	border-radius: 4px;
}
.song__info:hover {
	background-color: var(--hover-active-bgcolor);

}

.play-icon {
	font-size: 13px;
}

.song__details {
	margin-left: 10px;
	font-size: 16px;
	cursor: default;
}
.song__duration {
	margin-left: auto;
}
.song__artist,
.song__duration {
	font-size: 0.9rem;
	color: var(--end-gradient-color);
}
.song__artist-link {
	text-decoration-color: transparent;
}
.song__artist-link:hover {
	text-decoration-color: var(--end-gradient-color);
}

/*---- TABLET VER ----*/
@media (min-width: 768px) {
	.playlist__body {
        max-height: 395px;
        height: initial;
	}
}

@media (min-width: 1000px) {
    body {
        font-size: 20px; 
    }
    .song__details {
        font-size: 1rem;
    }
    .album__cover {
        /* width: 9rem; */
        width: 200px;
    }
    .album__title {
        font-size: 2.6rem;
    }
    .song__info {
        padding: 8px 10px;
    }
}

@media (min-width: 1300px) {
    .album__container {
        flex-direction: row;
        max-width: 1400px;
        height: 100vh;
        margin: 0 auto;
        justify-items: initial;
        align-items: initial;
        padding-top: 30px;
    }
    .album__info__container {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }
    .album__playlist__container {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .playlist__body {
        width: 100%;
        max-height: 80%;
    }

}