@import url(' https://fonts.googleapis.com/css?family=Raleway|PT+Serif:700'); 
:root {
    --main-font-color: #1a1a1a;
    --main-bg-color: white;
    --main-theme-color: rgb(243, 168, 47);
    --light-white: #f5f5f5;
    --light-gray: rgb(190, 190, 190);
    --light-black: #282a39;
    --font-body-stack: Raleway, Charcoal, sans-serif;
    --font-heading-stack: "PT Serif", sans-serif;
    --container-width: 768px;
}
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
.container {
    max-width: var(--container-width);
    margin: 0 auto;
    /* padding: 40px 0 30px 0; */
}
.quiz {
    padding: 2rem 1.4rem;
}

/*---------- QUIZ HEADER (AREA OF QUESTIONS) ----------*/
.quiz__header {
    text-align: center;    
    font-family: var(--font-heading-stack);
}
.quiz__question {
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 38px; 
    padding: 0.8rem 4rem;
    color: var(--main-font-color);
    margin-bottom: 22px;
}
.quiz__header__current-question {
    font-family: var(--font-body-stack);
    font-weight: 700;
    margin-bottom: 50px; 
    font-size: 1.2rem; 
}
.quiz__progress-bar {
    height: 8px;
    width: 50%;
    border-radius: 3px; 
    background: rgb(231, 231, 231);
    margin: 0 auto 30px auto; 
}
.quiz__progress-bar__inner {
    background: var(--light-black);
    width: 1%;
    height: 100%;
    border-radius: 3px;
}
.quiz__tagline {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--light-gray);
    margin-bottom: 15px; 
}

/*---------- QUIZ BODY, CHOICES ----------*/
.quiz__body {
    /* margin-bottom: 30px;  */
}
.quiz__body__choices-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto 0 auto; 
}
.quiz__choice {
    background-color: var(--light-white);
    min-width: 300px;
    border-radius: 4px;
    display: block;
    margin: 0.5rem auto; 
    font-family: sans-serif;
    color: var(--light-black);
    letter-spacing: 1.2px;
    font-size: 0.86rem;   
}
.quiz__input {
    display: none;
}
.quiz__input:checked ~ .quiz__label {
    color: var(--main-theme-color);
    font-weight: bold;
}
.quiz__input:checked ~ label i {
    background-image: url('../images/circle-filled.svg');
}
.quiz__label {
    display: flex; 
    padding: 2rem 2rem; 
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease,
                color 0.25s ease;
}
.quiz__label:hover {
    background: #ebebeb;
}
.quiz__label i {
    background: url('../images/circle-outline.svg');
    background-size: 25px;
    height: 25px;
    width: 25px;
    margin-right: 10px; 

}

/*---------- BUTTONS ----------*/
.quiz__footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.button {
    padding: 1rem 3.8rem;
    border: none; 
    text-transform: uppercase;
    transition: 0.3s all ease;
    cursor: pointer;
    outline: 0;
    opacity: 0.9;
    font-weight: bold; 
}
.button:hover {
    opacity: 1; 
    background: var(--light-black);
    color: var(--main-theme-color)
}
.button:active {
    
}
.button.button--bordered {
    border: 1px solid var(--light-black);
}
